<!DOCTYPE html>
<html>
<head>
  <title>questionnaire editor</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.0/vis.min.js" integrity="sha512-CFZV2b4rQq36cxk/HnXzgNxvDJlasmPCZEyrOuLk5oSkLCpw5Ni5LCD9HzFQ96DgE+xd855/HvkRfeK67QOFJw==" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-qriously@1.1.1/dist/vue-qriously.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sha256-uint8array/dist/sha256-uint8array.min.js"></script>

  <style id="compiled-css" type="text/css">
  .v-text-field input {
    font-size: 1.0em;
    text-align: left;
    font-weight: bold;
    color: red;
  }
  </style>

</head>
<body>
  <v-app id="app">
    <v-card
      v-if="format"
    >
      <v-container>
        <v-row dense align="center" justify="center">
          <v-col>
            <h1> フォーム編集画面 </h1>
            <p> ファイルパス： {{ formatPath }}　前回更新日時： {{ format.updated }} </p>
          </v-col>
        </v-row>
        <v-row dense align="center" justify="center">
          <v-col>
            <v-text-field
              v-model="format.title"
              label="フォームのタイトル"
              required
              @change="valueChanged"
            >
            </v-text-field>
          </v-col>
        </v-row>
        <v-row dense align="center" justify="center">
          <v-col>
            <v-text-field
              v-model="format.formatCode"
              label="formatCode"
              required
              @change="valueChanged"
            >
            </v-text-field>
          </v-col>
          <v-col>
            <v-text-field
              v-model="format.versionCode"
              label="versionCode"
              required
              @change="valueChanged"
            >
            </v-text-field>
          </v-col>
          <v-col>
            <v-text-field
              v-model="format.codeFunction"
              label="codeFunction"
              required
              @change="valueChanged"
            >
            </v-text-field>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
    <v-container
      v-if="format"
      v-for="(card, cardIndex) in cards"
      :key="cardIndex"
    >
      <v-card
        v-if="card.type=='textInput'"
        outlined
      >
        <v-container fluid>
          <v-row dense align="center" justify="center">
            <v-col md="1" sm="1" xs="1">
              # {{ cardIndex + 1 }}
            </v-col>
            <v-col md="2" sm="3" xs="4">
              <v-select
                v-model="card.type"
                label="項目種別"
                :items="itemTypes"
              ></v-select>
            </v-col>
            <v-spacer />
          </v-row>
          <v-row dense align="center" justify="center">
            <v-col md="6" sm="7" xs="8">
              <v-text-field
                v-model="card.label"
                label="入力項目の質問文"
                required
                @change="valueChanged"
              >
              </v-text-field>
            </v-col>
            <v-col md="2" sm="3" xs="4">
              <v-text-field
                v-model="card.value"
                label="文字数制限"
                type="number"
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
      <v-card
        v-if="card.type=='radioGroup'"
        outlined
      >
        <v-container fluid>
          <v-row dense align="center" justify="center">
            <v-col md="1" sm="1" xs="1">
              # {{ cardIndex + 1 }}
            </v-col>
            <v-col md="2" sm="3" xs="4">
              <v-select
                v-model="card.type"
                label="項目種別"
                :items="itemTypes"
              ></v-select>
            </v-col>
            <v-spacer />
          </v-row>
          <v-row dense align="center" justify="center">
            <v-col md="8" sm="10" xs="12">
              <v-text-field
                v-model="card.label"
                label="選択グループの共通説明文"
                required
                @change="valueChanged"
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row dense align="center" justify="center">
            <v-col md="8" sm="10" xs="12">
              <v-combobox
                v-model="card.radios"
                :items="card.radios"
                label="選択グループ各項目の選択肢（順序あり）"
                multiple
                chips
              ></v-combobox>
            </v-col>
          </v-row>
          <v-row
            dense
            align="center" justify="center"
            v-for="(item, itemIndex) in card.items"
            :key="itemIndex"
          >
            <v-col md="6" sm="7" xs="8">
              {{ itemIndex + 1 }}
              <v-text-field
                v-model="item.label"
                label="項目の質問文"
                md="4"
              >
              </v-text-field>
            </v-col>
            <v-col md="2" sm="3" xs="4">
              <v-select
                v-model="item.value"
                label="デフォルト値"
                :items="card.radios"
              ></v-select>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
      <v-card
        v-if="card.type=='radio'"
        outlined
      >
        <v-container fluid>
          <v-row dense align="center" justify="center">
            <v-col md="1" sm="1" xs="1">
              # {{ cardIndex + 1 }}
            </v-col>
            <v-col md="2" sm="3" xs="4">
              <v-select
                v-model="card.type"
                label="項目種別"
                :items="itemTypes"
              ></v-select>
            </v-col>
            <v-spacer />
          </v-row>
          <v-row dense align="center" justify="center">
            <v-col md="6" sm="7" xs="8">
              <v-text-field
                v-model="card.label"
                label="入力項目の質問文"
                required
                @change="valueChanged"
              >
              </v-text-field>
            </v-col>
            <v-col md="2" sm="3" xs="4">
              <v-select
                v-model="card.layout"
                label="レイアウト"
                :items="radioLayouts"
              ></v-select>
            </v-col>
          </v-row>
          <v-row dense align="center" justify="center">
            <v-col md="6" sm="7" xs="8">
              <v-combobox
                v-model="card.radios"
                :items="card.radios"
                label="選択肢（順序あり）"
                multiple
                chips
              ></v-combobox>
            </v-col>
            <v-col md="2" sm="3" xs="4">
              <v-select
                v-model="card.value"
                label="デフォルト値"
                :items="card.radios"
              ></v-select>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
      <v-card
        v-if="card.type=='checkbox'"
        no-gutters
      >
        <v-container fluid>
          <v-row dense align="center" justify="center">
            <v-col md="1" sm="1" xs="1">
              # {{ cardIndex + 1 }}
            </v-col>
            <v-col md="2" sm="3" xs="4">
              <v-select
                v-model="card.type"
                label="項目種別"
                :items="itemTypes"
              ></v-select>
            </v-col>
            <v-spacer />
          </v-row>
          <v-row dense align="center" justify="center">
            <v-col md="6" sm="7" xs="8">
              <v-text-field
                v-model="card.label"
                label="入力項目の質問文"
                required
                @change="valueChanged"
              >
              </v-text-field>
            </v-col>
            <v-col md="2" sm="3" xs="4">
              <v-select
                v-model="card.layout"
                label="レイアウト"
                :items="radioLayouts"
              ></v-select>
            </v-col>
          </v-row>
          <v-row
            dense
            align="center" justify="center"
            v-for="(item, itemIndex) in card.items"
            :key="itemIndex"
          >
            <v-col md="6" sm="7" xs="8">
              {{ itemIndex + 1 }}
              <v-text-field
                v-model="item.label"
                label="項目の質問文"
              >
              </v-text-field>
            </v-col>
            <v-col md="2" sm="3" xs="4">
              <v-checkbox
                v-model="item.value"
                label="デフォルト値"
                false-value="0"
                true-value="1"
                hide-details
                @change="valueChanged"
                >
              </v-checkbox>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-container>
    <v-container>
      <v-row align="center" justify="center">
        <v-col>
          <small v-if="!valid">未入力もしくは入力間違いの項目があります。</small>
          <v-btn
            :disabled="!valid"
            width="100%"
            @click="updateFormat"
          >
            <b> テンプレートを更新 </b>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-app>

  <script type="module">
  // MUST have module here
  import { Octokit, App } from "https://cdn.skypack.dev/octokit"  // Octokit

  Vue.use(window['vue-qriously'])
  var app = new Vue({
  	el: '#app',
    vuetify: new Vuetify(),
  	data() {
    	return {
        dirPath: 'test/',
        formatPath: null,
        valid: true,
        overlay: false,
        zIndex: 0,
        format: null,
        octokit: null,
        itemTypes: [
          'textInput',
          'radioGroup',
          'checkbox',
          'radio'
        ],
        radioLayouts: [
          'column',
          'row'
        ],
        dummyItems: [
          'Programming',
          'Design',
          'Vue',
          'Vuetify'
        ],
        select: null
      }
    },
    computed: {
      cards () {
        if (this.format) {
          return this.format.cards
        } else {
          return null
        }
      },
      title () {
        if (this.format) {
          return this.format.title
        } else {
          return 'wating for load data'
        }
      },
      result () {
        if (this.format) {
          const codeFunction = this.format.codeFunction
          if (codeFunction === 'fixedString') {
            return this.fixedString()
          } else {
            return this.splitString()
          }
        } else {
          return ''
        }
      },
      // 現在時刻取得（yyyy/mm/dd hh:mm:ss）
      currentTime () {
        const now = new Date()
        const res = '' + now.getFullYear() +
          '-' + this.padZero(now.getMonth() + 1, 2) +
          '-' + this.padZero(now.getDate(), 2) +
          'T' + this.padZero(now.getHours(), 2) +
          ':' + this.padZero(now.getMinutes(), 2) +
          ':' + this.padZero(now.getSeconds(), 2)
        return res
      }
    },
    created() {
      this.authGithub()

      let uri = window.location.search.substring(1)
      let params = new URLSearchParams(uri)
      let format = params.get("format")
      this.formatPath = this.dirPath + format

      this.loadFormat()
    },
    methods: {
      async authGithub () {
        // Create a personal access token at https://github.com/settings/tokens/new?scopes=repo
        this.octokit = new Octokit({ auth: `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` }) // Octokit
        // Compare: https://docs.github.com/en/rest/reference/users#get-the-authenticated-user
        const {
          data: { login },
        } = await this.octokit.rest.users.getAuthenticated()
        console.log("Hello, %s", login)
      },
      async updateFormat () {
        this.format.updated = this.currentTime

        const content = await this.getContent()
        this.putContent(content.sha)
      },
      async getContent () {
        const { data } = await this.octokit.request("GET /repos/{owner}/{repo}/contents/{path}", {
          accept: "application/vnd.github.v3+json",
          owner: "tohoku-mitc",
          repo: "pages",
          path: this.formatPath,
        })
        console.log("data: ", data)
        return data
      },
      async putContent (sha) {
        const content = JSON.stringify(this.format)
        // https://qiita.com/weal/items/1a2af81138cd8f49937d
        const base64 = btoa(unescape(encodeURIComponent(content)))
        // const hex = SHA256.createHash().update(data).digest("hex")
        const response = await this.octokit.request("PUT /repos/{owner}/{repo}/contents/{path}", {
          mediaType: {
            format: "raw",
          },
          owner: "tohoku-mitc",
          repo: "pages",
          path: "test/format-cdai.json",
          message: "updated from editor",
          content: base64,
          sha
        })
        console.log("response: ", response)
      },
      loadFormat () {
        var requestUrl = "https://tohoku-mitc.github.io/pages/" + this.formatPath
        // use this for other
        //var requestUrl = this.selectedUrl
        axios.get(requestUrl).then((response) => {
            const format = response.data
            console.log(format.title)
            this.format = format
          }).catch(function (error) {
            // handle error
            var status = ""
            var message = ""
            if (error.response) {
              status = error.response.status
              if (status == '403') {
                message = "リソース取得失敗しました。"
              } else {
                message = "リソース取得失敗しました。URLをご確認ください。"
              }
            }
            console.log(error);
          }).finally(function () {
            // always executed
          })
      },
      valueChanged () {
        if (this.format) {
          this.format.updated = this.currentTime
        }
      },
      // 先頭ゼロ付加
      padZero (number, length) {
        let result
        const num = number ? number : 0
        const str = String(Math.round(num))
        const diff = length - str.length
        //console.log('str ' + str + ', diff ' + diff)
        if (diff > 0) {
          result = '0'.repeat(diff) + str
        } else if (diff < 0) {
          result = str.slice( -1 * length )
        } else {
          result = str
        }
        //console.log('result ' + result)
        return result
      }
    }
  })
  </script>
</body>
</html>
