<!DOCTYPE html>
<html>
<head>
  <title>questionnaire form</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.0/vis.min.js" integrity="sha512-CFZV2b4rQq36cxk/HnXzgNxvDJlasmPCZEyrOuLk5oSkLCpw5Ni5LCD9HzFQ96DgE+xd855/HvkRfeK67QOFJw==" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-qriously@1.1.1/dist/vue-qriously.min.js"></script>

  <style id="compiled-css" type="text/css">
  .v-text-field input {
    font-size: 1.4em;
    text-align: center;
  }
  </style>

</head>
<body>
  <div id="app">
    <v-container>
      <v-row align="center" justify="center">
        <v-col md="6">
          <h1>{{ title }}</h1>
        </v-col>
      </v-row>
    </v-container>
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation
    >
      <v-container
        v-for="(card, cardIndex) in cards"
        :key="cardIndex"
      >
        <v-row
          v-if="card.type=='textInput'"
          no-gutters
        >
          <v-col md="6">
            <v-text-field
              v-model="card.value"
              :counter="card.counter"
              :rules="card.rules"
              :label="card.label"
              required
            >
            </v-text-field>
          </v-col>
        </v-row>
        <v-row
          v-if="card.type=='radioGroup'"
          no-gutters
        >
          <v-col md="6">
            <b> {{ card.label }} </b><br>
            <small v-if="card.rating">症状がある場合は、症状の強さ０〜１０を選択してください</small>
            <table width="100%">
              <tr
                v-for="(item, itemIndex) in card.items"
                :key="itemIndex"
              >
                <td align="left">
                  {{ item.label }}
                </td>
                <td align="right">
                  <v-radio-group
                    v-model="item.value"
                    row
                  >
                    <v-radio
                      v-for="(radio, radioIndex) in card.radios"
                      :key="radioIndex"
                      :label="radio"
                      :value="radioIndex"
                    ></v-radio>
                  </v-radio-group>
                  <v-rating
                    v-if="card.rating && item.value>0"
                    dense
                    v-model="item.value"
                    length="10"
                    size="24"
                    color="red lighten-3"
                    background-color="grey lighten-1"
                    empty-icon="mdi-circle-outline"
                    full-icon="mdi-circle"
                  ></v-rating>
                </td>
              </tr>
            </table>
          </v-col>
        </v-row>
        <v-row
          v-if="card.type=='radio'"
          no-gutters
        >
          <v-col md="6">
            <b> {{ card.label }} </b>
            <v-radio-group
              v-model="card.value"
            >
              <v-radio
                v-for="(radio, radioIndex) in card.radios"
                :key="radioIndex"
                :label="radio"
                :value="radioIndex"
              ></v-radio>
            </v-radio-group>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
    <v-container>
      <v-row align="center" justify="center">
        <v-col md="6">
          <small v-if="!valid">未入力もしくは入力間違いの項目があります。</small>
          <v-btn
            :disabled="!valid"
            width="100%"
            @click="overlay = true"
          >
            <b> QRコードを表示 </b>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
    <v-container>
      <v-row align="center" justify="center">
        <v-col md="6">
          <v-overlay
            :z-index="zIndex"
            :value="overlay"
            opacity="0.9"
            color="#ffffff"
          >
            <v-row align="center" justify="center">
              <qriously
                class="text-center"
                :value="result"
                :size="260"
              />
            </v-row>
            <v-row>
              <br>
            </v-row>
            <v-row align="center" justify="center">
              <v-btn
                width="100%"
                @click="overlay = false"
              >
                入力画面へ戻る
              </v-btn>
            </v-row>
          </v-overlay>
        </v-col>
      </v-row>
    </v-container>
    <br>
  </div>
  <script>

  Vue.use(window['vue-qriously'])
  var app = new Vue({
  	el: '#app',
    vuetify: new Vuetify(),
  	data() {
    	return {
        title: 'wating for load data',
        valid: false,
        overlay: false,
        zIndex: 0,
        cards: null
      }
    },
    computed: {
      result () {
        if (this.cards) {
          let results = []
          this.cards.forEach((card, i) => {
            if (card.items) {
              card.items.forEach((item, i) => {
                results.push(item.value)
              })
            } else {
              results.push(card.value)
            }
          })
          const result = '/' + results.join('/') + '/' + this.currentTime + '/'
          console.log(result)
          return result
        } else {
          return ''
        }
      },
      // 現在時刻取得（yyyy/mm/dd hh:mm:ss）
      currentTime () {
        const now = new Date()
        const res = '' + now.getFullYear() +
          '-' + this.padZero(now.getMonth() + 1) +
          '-' + this.padZero(now.getDate()) +
          'T' + this.padZero(now.getHours()) +
          ':' + this.padZero(now.getMinutes()) +
          ':' + this.padZero(now.getSeconds())
        return res
      }
    },
    created() {
      this.loadFormat()
    },
    methods: {
      loadFormat () {
        // use this for seiryo-user
        var requestUrl = "data-covid.json"
        // use this for other
        //var requestUrl = this.selectedUrl
        axios.get(requestUrl).then((response) => {
            const data = response.data
            console.log(data)
            this.title = data.title
            this.cards = data.cards

          }).catch(function (error) {
            // handle error
            var status = ""
            var message = ""
            if (error.response) {
              status = error.response.status
              if (status == '403') {
                message = "リソース取得失敗しました。"
              } else {
                message = "リソース取得失敗しました。URLをご確認ください。"
              }
            }
            console.log(error);
          }).finally(function () {
            // always executed
          });
      },
      // how to
      // https://www.kabanoki.net/4494/
      // sample source
      // https://jsfiddle.net/kabanoki/s6k4Lrxp/
      // other choices
      // https://github.com/fengyuanchen/vue-qrcode
      // https://github.com/superman66/vue-qart
      validate () {
        //
      },
      overlayClicked () {
        console.log('overlayClicked')
      },
      // 先頭ゼロ付加
      padZero (num) {
        let result
        if (num < 10) {
          result = '0' + num
        } else {
          result = '' + num
        }
        return result
      }
    }
  })
  </script>
</body>
</html>
